*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

body {
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
}

#fields-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 10px;
}

.input-container{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.text-field{
    width: 20vw;
    height: 4vh;
    flex: 1;
    padding: 10px;
    border: 0.06rem solid #ccc;
    border-radius: 20px;
}

#message-container {
    /* border: solid; */
    width: 70vw;
    height: 65vh;
    padding: 20px;
    height: 300px;
    overflow-y: scroll;
}

.container {
    /* border: solid red; */
    width: 70vw;
    margin: 1.25rem auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: .7rem;
    /* overflow: hidden; */
}

.input-container {
    display: flex;
    margin: 0.625rem;
}


.send-button {
    padding: 0.625rem 1.25rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 1.25rem;
}

.send-button:hover {
    background-color: #0056b3;
} 

